body{
	padding:20px;
}

td{
padding:5px;
text-align:left;
vertical-align:top;
}

span.example{
	font-size:10px;
	color:#999;
}

input[type=text]{
	width:300px;
	color:#555;
	font-size:14px;
	
}

#preview{
	cursor:pointer;
	text-decoration:underline;
	color:#008000;
}

.greeting{
	padding:0 0 20px 0;
}

.logo{
	margin-right:10px;
}

#content{
	margin-top:20px;
}

h3{
	margin-top:0;
}